* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.logo {
  justify-self: start;
  align-self: center;
}
.menu ul {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.menu ul,
.menu li {
  list-style: none;
  font-size: 16px;
}

.sidebar {
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
  background-color: #c50208;
}

.side-content,
.photo {
  display: grid;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
}
.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav ul li {
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
